body{
  background-color: rgb(38, 19, 39);
}
a{
  color: rgb(94, 19, 56) !important;
}

.heading{
  text-align: center;
  color: rgb(239, 114, 255);
}

.margin-bottom-15{
  margin-bottom: 15px;
}

 .question-list{
  border: 1px solid  rgb(239, 114, 255);
  padding: 15px;
  margin: 10px;
 
}

.question-list a,.question-title{
  font-size: 18px;
  text-decoration: none;
  color:  rgb(239, 114, 255) !important;
}
.question-list h4{
  margin: 0;
  padding: 0;
}

.answer-wrapper{
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 5px;
}

.my-question{
  display: flex;
  justify-content: space-between;
}

.us{
  color: blueviolet;
  font-weight: 500;
  
}

::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

.us-1{
  margin-top: 30px;
}

.head{
  margin-top:30px;
}